/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fafbfc;
  font-family: "Roboto", sans-serif;
  color: #172b4d;
  height: 100%;
}

/* BUTTONS */
.button {
  border: none;
  color: #fff;
  padding: 0.8em 1.7em;
  border-radius: 0.3em;
}

.button:hover {
  cursor: pointer;
}

.button-green {
  background-color: #5aac44;
}

.button-red {
  background-color: #cf513d;
}

.button-normal {
  background-color: #ebecf0;
  color: #172b4d;
}

/* LOGIN FORM */
.login-form {
  border-radius: 0.3em;
  background-color: #f4f5f7;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 354px;
  width: 450px;
  margin: 8em auto 0 auto;
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
}

/* ****** CONTAINERS ******/

/* header */
.header__container {
  background-color: #58595a;
  height: 40px;
  display: flex;
  justify-content: center;
}

.header__image {
  display: block;
}

/* warper principal */
.main-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: start;
}

/* Navegacion */
.nav-container {
  width: 240px;
}
.menu {
  list-style: none;
}
.menu__item {
  margin: 1em 0;
}
.menu__link {
  display: block;
  padding: 0.5em 2em;
  text-decoration: none;
  color: #172b4d;
}

.selected-item {
  background-color: #e4f0f6;
  color: #0079bf;
  border-radius: 0.3em;
}

/*** BOARDS ***/
.boards-container {
  width: 80%;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  align-content: start;
}

.boards__modal-button {
  background: #f0f2f5;
  border-radius: 3px;
  border: none;
  outline: none;
  width: 190px;
  height: 96px;
  top: 50%;
  left: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #172b4d;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal__content {
  background-color: gray;
  border: none;
  border-radius: 3px;
  margin: 10% auto;
  padding: 6px 8px;
  width: 190px;
  height: 70px;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
}

#modal__title {
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.25);
  width: 154px;
}

/* Palette */
.modal__palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  width: fit-content;
  position: absolute;
  top: 0;
  right: -80px;
}

.modal__color {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal__color:hover {
  border: solid 1px white;
}

.modal__color--blue {
  background-color: #0079bf;
}
.modal__color--yellow {
  background-color: #d29034;
}
.modal__color--green {
  background-color: #519839;
}
.modal__color--red {
  background-color: #b04632;
}
.modal__color--purple {
  background-color: #89609e;
}
.modal__color--pink {
  background-color: #cd5a90;
}
.modal__color--lightgreen {
  background-color: #4bbf6b;
}
.modal__color--lightblue {
  background-color: #0aaecb;
}
.modal__color--gray {
  background-color: #838c90;
}

.modal__create-button {
  position: absolute;
  top: 75px;
  left: 0;
  background: #f4f5f7;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding: 6px 12px;
  color: #172b4d;
  border: none;
  outline: none;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #f4f5f7;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 0px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Board */
.board {
  width: 190px;
  height: 96px;
  border-radius: 3px;
  padding: 8px;
  margin: 0 16px 16px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.board__title {
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  width: 154px;
}

.board__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.action {
  filter: brightness(0);
  margin-left: 8px;
  width: 12px;
  height: 12px;
  visibility: hidden;
}

.board:hover .action {
  fill: black;
  visibility: visible;
}

.starred {
  visibility: visible;
  filter: invert(100%) sepia() saturate(10000%) hue-rotate(0deg);
}
